:root {
  $green: #80ba27;
  $dark-bg: #0f172a;

  font-family: /*'Bahnschrift',*/ "Helvetica", "Roboto", "Segoe UI", Tahoma,
    Geneva, Verdana, sans-serif;

  font-size: larger;
  background-color: white;
  color: black;
  box-sizing: border-box;
  @media (prefers-color-scheme: dark) {
    background-color: $dark-bg;
    color: white;
  }

  body {
    .menu {
      max-width: 800px;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      > div {
        width: 100%;
      }
    }
    .center {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .react-calendar {
      margin-top: 5rem;

      .react-calendar__tile--now {
        background-color: $green;
      }

      @media (prefers-color-scheme: dark) {
        background-color: $dark-bg;
        button {
          color: white;
        }
      }
    }
    hr {
      border: none;
      border-bottom: solid 1px white;
      margin: auto;
      width: 85%;

      @media (prefers-color-scheme: light) {
        border-bottom: solid 1px black;
      }
    }

    .flex-horizontal {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      > div:not(:last-child) {
        margin-bottom: 3rem;
      }

      @media screen and (min-width: 540px) {
        flex-direction: row;
        > div:not(:last-child) {
          margin-bottom: unset;
        }

        hr {
          width: unset;
          margin: unset;
          border: none;
          border-left: solid 1px white;

          @media (prefers-color-scheme: light) {
            border-left: solid 1px black;
          }
        }
      }
    }
  }
}
