/* inter-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/inter-v13-latin-200.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  url('./fonts/inter-v13-latin-200.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/inter-v13-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  url('./fonts/inter-v13-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/inter-v13-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  url('./fonts/inter-v13-latin-600.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}


:root {
  $green: #0d4417;
  $light-green: rgba(71, 99, 75, 0.25);
  $light-bg: rgb(246, 246, 246);
  $dark-bg: #0f172a;

  font-family: 'Inter', "Helvetica", "Roboto", "Segoe UI", Tahoma,
  Geneva, Verdana, sans-serif;

  font-size: larger;
  background-color: $light-bg;
  color: black;
  box-sizing: border-box;

  @media (prefers-color-scheme: dark) {
    background-color: $dark-bg;
    color: white;
  }

  body {
    a {
      color: $green;


      @media (prefers-color-scheme: dark) {
        color: white;
      }
      text-decoration: none;
    }

    .menu {
      max-width: 800px;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h1 {
        width: 50%;
        margin: 40px auto 0 auto;
        color: $green;
        font-size: 25px;
        padding-bottom: 5px;

        @media (prefers-color-scheme: dark) {
          color: white;
        }
      }

      .titleContent {
        padding: 5px;
        margin: 40px 0;

        h1 {
          font-size: 35px;
          width: 40%;

          @media screen and (max-width: 400px) {
            width: 100%;
          }
          border-bottom: 1px solid $light-green;
          margin: 10px auto;
        }

        div {
          color: $green;
          margin-bottom: 10px;


          @media (prefers-color-scheme: dark) {
            color: white;
          }
        }

        border-radius: 8px;
      }

      > div {
        width: 100%;
      }
    }


    .center {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .react-calendar {
      margin-top: 2rem;

      .react-calendar__tile--now {
        background-color: $light-green;

        @media (prefers-color-scheme: dark) {
          background-color: rgba(203, 197, 197, 0.16);
        }
      }

      @media (prefers-color-scheme: dark) {
        background-color: $dark-bg;
        button {
          color: white;
        }
      }
    }

    button.refresh {
      background-color: transparent;
      border: none;
      color: $green;
      font-size: 1.5rem;
      margin: 40px 1rem 1rem 1rem;
      cursor: pointer;
      transition: all 0.2s ease-in-out;


      @media (prefers-color-scheme: dark) {
        filter: invert(1) grayscale(1);
        color: white;
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    hr {
      border: none;
      border-bottom: solid 1px white;
      margin: auto;
      width: 85%;

      @media (prefers-color-scheme: light) {
        border-bottom: solid 1px black;
      }
    }

    .flex-horizontal {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2 {
        color: $green;
        font-weight: 600;
        font-size: 22px;


        @media (prefers-color-scheme: dark) {
          color: white;
        }
      }

      > div {
        //box-shadow: rgba(149, 157, 165, 0.2) 0 2px 24px;
        border: 2px solid $light-green;
        padding: 30px 20px 40px 30px;
        border-radius: 8px;

        &:not(:last-child) {
          margin-bottom: 3rem;
        }

        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 540px) {
          width: 38%;
        }
      }

      @media screen and (min-width: 540px) {
        flex-direction: row;
        > div:not(:last-child) {
          margin-bottom: unset;
        }

      }
    }

    footer {
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: small;
      color: gray;

      p {
        margin: 0.5rem;
      }

      img {
        height: 13px;
        margin: auto auto auto 1ex;
      }
    }
  }

  /***********************************************/
  /***************** CALENDRIER ******************/
  /***********************************************/
  .react-calendar {
    width: 350px;
    max-width: 100%;
    background: $light-bg;
    border: 1px solid $light-green;
    border-radius: 7px;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    line-height: 1.125em;

    * {
      font-family: 'Inter', sans-serif;
    }
  }

  .react-calendar--doubleView {
    width: 700px;
  }

  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }

  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }

  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
    border-radius: 4px;

  }

  .react-calendar button:enabled:hover {
    cursor: pointer;
  }

  .react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
  }

  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
  }

  .react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
  }

  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;

    @media (prefers-color-scheme: dark) {
      background-color: rgba(255, 255, 255, 0.24);
    }
  }

  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
    color: $green;


    @media (prefers-color-scheme: dark) {
      color: white;
    }
  }

  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
  }

  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
  }

  .react-calendar__month-view__days__day--weekend {
    color: $green;
    font-weight: 600;


    @media (prefers-color-scheme: dark) {
      color: white;
    }
  }

  .react-calendar__month-view__days__day--neighboringMonth {
    color: rgba(117, 117, 117, 0.6);
  }

  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
  }

  .react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
  }

  .react-calendar__tile:disabled {
    background-color: #f0f0f0;

    @media (prefers-color-scheme: dark) {
      background-color: rgba(255, 255, 255, 0.24);
    }
  }

  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;


    @media (prefers-color-scheme: dark) {
      background-color: rgba(255, 255, 255, 0.24);
    }
  }

  .react-calendar__tile--now {
    background: #58984a;


    @media (prefers-color-scheme: dark) {
      background: rgba(164, 162, 162, 0.22);
    }
  }

  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #80967d;

    @media (prefers-color-scheme: dark) {
      background: rgba(128, 126, 126, 0.29);
    }
  }

  .react-calendar__tile--hasActive {
    background: #7fc97e;

    @media (prefers-color-scheme: dark) {
      background: rgba(108, 107, 107, 0.58);
    }
  }

  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: $light-green;


    @media (prefers-color-scheme: dark) {
      background: rgba(255, 255, 255, 0.23);
    }
  }

  .react-calendar__tile--active {
    background: $green;


    @media (prefers-color-scheme: dark) {
      background: rgba(255, 255, 255, 0.3);
    }

    color: white;
  }

  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: $green;


    @media (prefers-color-scheme: dark) {
      background: rgba(255, 255, 255, 0.21);
    }
  }

  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: rgba(230, 230, 230, 0.11);
  }
}
